input{
beats{
port =>5044
  } 
}

filter{
        grok {
		 match => {
      "message" => "%{TIMESTAMP_ISO8601:date} \| %{DATA}: %{NUMBER:transaction_id} \| %{DATA}%{DATA:user} \|%{DATA}: %{WORD:payment_method} \| %{WORD}: \$%{NUMBER:amount} \| %{WORD}: %{WORD:status} \| %{DATA}: %{WORD:payment_gateway}"}
              }
	    date {
    match => ["date", "yyyy-MM-dd HH:mm:ss"]
    target => "date"
    timezone => "UTC"
  }
}

output{
elasticsearch {
				hosts => ["http://localhost:9200"]
				index => "banking_data"
				user => "elastic"
				password => "FbZ2cto1l0YMpRYVW55C"
}
}